html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: "Work Sans", "Roboto Mono", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif !important;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
u {
  font-family: "Work Sans", "Roboto Mono", -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif !important;
}

.mark.tweet .author a {
  font-size: 20px;
}

.mark.tweet .author img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.mark .content {
  font-size: 20px;
  line-height: 1.6;
  max-height: 200px;
  overflow-y: clip;
}

.mark.in-modal .content {
  max-height: unset;
  overflow-y: unset;
}

.mark.tweet .content {
  padding-left: 70px;
}
.mark .content img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.mark .footer {
  font-size: 14px;
}

blockquote {
  background: #e3e3e3;
  margin: 0.5em;
  padding: 1em;
}
